[General]
genomeBuild = hg19

[AnnoVarInputs]
executable = /home/jocostello/shared/LG3_Pipeline/AnnoVar/annotate_variation.properSplicing.pl
dbDir = /home/jocostello/shared/LG3_Pipeline/AnnoVar/hg19db/
snpDBs = snp132
1kgDBs = 1000g2010nov_all,1000g2011may_all

[SNPRemovalFilters]
muTectJudgmentsAllowed = KEEP

[SNPAnnotationFilters]
minTumorReads = 0
minTumorAltReads = 0
minTumorVarFreq = 0
minNormalReads = 0
maxNormalAltReads = 5
maxNormalVarFreq = 0.1

[IndelRemovalFilters]
minTumorReads = 14
minTumorAltReads = 5
minTumorVarFreq = 0.1
minNormalReads = 8
maxNormalAltReads = 3
maxNormalVarFreq = 0.1
# The MM field
maxAvgTumorAltMismatch = 4
maxAvgTumorRefMismatch = 4
maxAvgNormalAltMismatch = 4
maxAvgNormalRefMismatch = 4
# The NQSBQ field
minAvgTumorAltBaseQualInNQS = 10
minAvgTumorRefBaseQualInNQS = 10
minAvgNormalAltBaseQualInNQS = 10
minAvgNormalRefBaseQualInNQS = 10
# The NQSMM field
maxAvgTumorAltMismatchInNQS = 0.2
maxAvgTumorRefMismatchInNQS = 0.2
maxAvgNormalAltMismatchInNQS = 0.2
maxAvgNormalRefMismatchInNQS = 0.2

[IndelAnnotationFilters]
maxHomopolymerRuns = 5

[AnnoVarRemovalFilters]
# None

[AnnoVarAnnotationFilters]
contextsToOmit = intergenic,intronic,downstream,upstream,UTR3,UTR5,ncRNA_exonic,ncRNA_intronic,ncRNA_UTR3,ncRNA_UTR5,ncRNA_splicing

